[v-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;

  #app {
    .modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            padding: 0;
            .card {
              color: white;
              background-color: #121212;
              border: none;
              &:hover {
                background-color: #1a1a1a;
              }
              .image {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .container-lg {
      h2 {
        color: #3ed571;
      }
      header {
        h1 {
          color: #3ed571;
          font-size: 50px;
          text-align: center;
        }
        ul {
          display: flex;
          list-style-type: none;
          gap: 25px;
          li {
            a {
              color: white;
              font-size: 20px;
            }
          }
        }
      }

      .row {
        .col {
          .card {
            color: white;
            background-color: #121212;
            border: none;
            &:hover {
              background-color: #1a1a1a;
            }
            .image {
              img {
                width: 100%;
              }
            }
          }
        }
      }

      form {
        div {
          .form-control {
            max-width: 50%;
            margin: 0 auto;
          }
        }
        button {
          background-color: #3ed571;
        }
      }
    }
  }
}
