[v-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;

  #app {
    .container-lg {
      h1 {
        color: #3ed571;
        font-size: 80px;
      }
      .row {
        .col {
          .card {
            color: white;
            background-color: #121212;
            border: none;
            &:hover {
              background-color: #1a1a1a;
            }
            .image {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
