<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- scss -->
    <link rel="stylesheet" href="./client/src/style.scss" />
    <title>SoundWawe</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container-lg text-center py-5">
        <header class="text-start">
          <h1 class="mb-5">SoundWawe</h1>
        </header>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div
            class="col"
            v-for="(disc, index) in dischi"
            @click="getModal(disc.id)"
          >
            <div class="card">
              <div class="image px-4 my-4">
                <img :src="disc.thumbUrl" :alt="disc.name" />
              </div>
              <div class="text px-4 mb-4 text-start">
                <h5>{{disc.name}}</h5>
                <p>Album: {{disc.album}}</p>
                <p>Artist: {{disc.artist}}</p>
                <h6>Year: {{disc.year}}</h6>
              </div>
            </div>
          </div>
        </div>

        <hr class="mt-5 mb-5" />

        <h2 class="mb-5">Aggiungi Brano</h2>

        <form @submit.prevent="addSong">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input
              v-model="newSong.name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
          <div class="mb-3">
            <label for="album" class="form-label">Album:</label>
            <input
              v-model="newSong.album"
              type="text"
              class="form-control"
              id="album"
              required
            />
          </div>
          <div class="mb-3">
            <label for="artist" class="form-label">Artist:</label>
            <input
              v-model="newSong.artist"
              type="text"
              class="form-control"
              id="artist"
              required
            />
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year:</label>
            <input
              v-model="newSong.year"
              type="text"
              class="form-control"
              id="year"
              required
            />
          </div>
          <div class="mb-3">
            <label for="thumbUrl" class="form-label">Url Image:</label>
            <input
              v-model="newSong.thumbUrl"
              type="text"
              class="form-control"
              id="thumbUrl"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </form>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="card" v-if="selectedDisc">
                <div class="image px-4 my-4">
                  <img :src="selectedDisc.thumbUrl" :alt="selectedDisc.name" />
                </div>
                <div class="text px-4 mb-4 text-start">
                  <h5>{{selectedDisc.name}}</h5>
                  <p>Album: {{selectedDisc.album}}</p>
                  <p>Artist: {{selectedDisc.artist}}</p>
                  <h6>Year: {{selectedDisc.year}}</h6>
                  <button
                    class="btn btn-danger mt-3"
                    @click="deleteSong(selectedDisc.id)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- main -->
    <script type="text/javascript" src="./client/src/main.js"></script>
  </body>
</html>
